<%= form_for @story do |f| %>
	<% if @story.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved: </h2>
			<ul>
				<% @story.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= f.label :story_title %>
	<%= f.text_field :story_title %>
	<br />
	<%= f.label :story_body %>
	<%= f.text_area :story_body %>
	<br />
	<%= f.submit "Save Story!" %>
<% end %>